.Como_funciona_mei {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(https://raw.githubusercontent.com/EduardoOliveiraDev/ImagesVisuMEI/048db154fa5861328d02618d3a8ca2800e430564/Como_funciona_mei_fundo.svg);
    background-size: cover;
    background-repeat: no-repeat;
}