.home {
    position: relative;
    width: 100%;
}

.header-home {
    position: relative;
    width: 100%;
    height: 81vh;
    background-image: url('https://raw.githubusercontent.com/EduardoOliveiraDev/ImagesVisuMEI/dcd8cd37a6b00667c0118e6c14ca477b0693843f/home/bg-header.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-home {
    position: relative;
    height: 595vh;
    background-image: url('https://raw.githubusercontent.com/EduardoOliveiraDev/ImagesVisuMEI/dcd8cd37a6b00667c0118e6c14ca477b0693843f/home/bg-home.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-home {
    position: relative;
    width: 100%;
    height: 44vh;
    margin-top: 5vh;
    background-image: url('https://raw.githubusercontent.com/EduardoOliveiraDev/ImagesVisuMEI/dcd8cd37a6b00667c0118e6c14ca477b0693843f/home/bg-footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
}